
.cards{
  width:100%;
  display: inline-block;
  text-align: center;
  margin-left: 6px;
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  margin-top: 50px;
}

.cards img{
  max-width: 270px;
  margin:6px;
}

.cards img:hover{
  box-shadow: 2px 2px 10px #D9D9D9;
  border-radius: 8px;
}

.usmo{
  width:100%;
  display: inline-block;
  text-align: center;
  margin-left: 6px;
  margin:0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 24px;
}
.usmo img{
  max-width: 320px;
  margin:6px;
  margin-top: 20px;
}

.head_pic{
  max-width: 200px;
  width:100%;
  display: block;
  margin:0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

#navlogo {
  font-family: 'Nunito Sans';
  color: #000;
  font-size:24px;
  margin-bottom:8px;
}

#sublogo {
  font-family: 'Nunito Sans';
  color: #000;
  font-size:15px;
}

#navright {
  padding-top: 14px;
}

#navright a {
  font-size: 17px;
  color: black;
}

#navright a:hover {
  color:#0F5689;
}


.navbar-brand a:hover {
  text-decoration:none;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 20px;
    min-height: 70px !important;
}

.navbar-header {
  min-height: 70px;
}

.hover12 figure {
	background: #ffffff;
}
.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .5;
}

.covers div {
  margin-top: 50px;
}

.covers img {
    height: auto;
    width: auto;
    max-width: 440px;
    max-height: 440px;
}

/* Altas */
.hero img {
  max-width: 1150px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width:100%;
  padding-left: 12px;
  padding-right: 12px;
}

.headers h1 {
  text-align: center;
  font-size: 90px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight:bold;
  margin-top: 40px;
}

.subheaders h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight:bold;
  padding-top: 70px;
  margin-bottom: -12px;
}

.anchor_links span{
  font-size:20px;
  font-family:'IBM Plex Sans';
  font-weight: 200;
  color:#606060;
  display: block;
  text-align: center;
  padding-bottom: 30px;
}

.subheaders h2{
  font-size:30px;
  font-family:'Nunito Sans', sans-serif;
  font-weight:bold;
  margin-left:400px;
  margin-top: 60px;
  padding-bottom: 10px;
  padding-top: 60px;
  max-width:680px;
  margin:0 auto;
  padding-left:16px;
  padding-right: 16px;
  text-align: left;
}

#generic h3{
  font-size:20px;
  font-family:'Nunito Sans', sans-serif;
  font-weight:bold;
  margin-left:400px;
  margin-top: 60px;
  padding-bottom: 10px;
  padding-top: 40px;
  max-width:680px;
  margin:0 auto;
  padding-left:16px;
  padding-right: 16px;
  text-align: left;
}

#user_testing h3{
  font-size:20px;
  font-family:'Nunito Sans', sans-serif;
  font-weight:bold;
  margin-left:400px;
  padding-bottom: 16px;
  padding-top: 16px;
  max-width:660px;
  margin:0 auto;
  padding-left:22px;
  padding-right: 22px;
  text-align: center;
  background-color:#F6F6F6;
  border-radius: 12px;
  margin-top: 100px;
}

#runkeeper_textbubble p{
  font-size:18px;
  font-family:'Nunito Sans', sans-serif;
  color:#4FA6B1;
  padding-bottom: 16px;
  padding-top: 16px;
  max-width:660px;
  margin:0 auto;
  padding-left:22px;
  padding-right: 22px;
  text-align: left;
  background-color:#F6F6F6;
  border-radius: 12px;
  margin-top: 22px;
}


#synapse_gifs p{
  font-size:18px;
  font-family:'Nunito Sans', sans-serif;
  margin-left:400px;
  padding-bottom: 16px;
  padding-top: 16px;
  max-width:250px;
  margin:0 auto;
  padding-left:22px;
  padding-right: 22px;
  text-align: left;
  background-color:#F6F6F6;
  border-radius: 12px;
  margin-top: 60px;
}

.images{
text-align:center;
margin:0 auto;
display:block;
margin-left: auto;
margin-right: auto;

}

#design_studio img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  transform: scale(.95);
}


#large img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-bottom: 50px;
    margin-top: 60px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1200px;
}

#medium-large img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 950px;
    padding-top:50px;
    padding-bottom:40px;
    padding-left:16px;
    padding-right:16px;
}

#medium img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 670px;
    padding-top:30px;
    padding-bottom:20px;
}

#small img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 550px;
    padding-top:30px;
    padding-bottom:20px;
}

#extrasmall img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 450px;
    margin-top: 30px;
    margin-bottom: 16px;
}

#smallest img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 250px;
    margin-top: 30px;
    margin-bottom: 16px;
}

.collapse ul {
  font-family:'Nunito Sans';
  font-size:18px;
}


.bodytext p,ul,ol{
  font-family:'IBM Plex Sans';
  font-weight: lighter;
  font-size:18px;
  line-height: 150%;
  font-weight:300;
  color:#000;
  max-width:680px;
  margin:0 auto;
  padding-left:16px;
  padding-right: 16px;
  text-align: left;
  color:#333333;
}

.button {
  color: #757575;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.1s;
  cursor: pointer;
  background-color: #F6F6F6;
  margin-top: 12px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
border:0px solid white;
border-radius: 60px;
}


.button:hover {
  background-color: #EEEEEE;
  color:#5C5C5C;
}

#backtotop{
  text-align: center;
}


#gifs{
  padding-top: 50px;
  padding-bottom: 32px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.new{
  display: inline-block;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  div.col-md-12 div.description {
    width: 95%;
  }
}

/* Footer Social Media Icons */

.fa {
  padding-top: 7px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  margin-top: 16px;
  margin-bottom: 20px;
  border-radius: 50%;
  text-align: center;
}



.fa-envelope {
  border: 1px solid #757575;
  color: #757575;
}

.fa-linkedin {
  border: 1px solid #757575;
  color: #757575;
  padding-left: 1px;
}

.fa-medium {
  border: 1px solid #757575;
  color: #757575;
  padding-left: 1px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 10rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14rem;            /* Footer height */
  background-color: #F6F6F6;
  padding-top:20px;a
}

#footer p{
  text-align: center;
  font-family: 'IBM Plex Mono';
  color:#757575;
}

.interactive_prototype{
  padding-top:40px;
  padding-bottom:40px;
  text-align:center;
  margin:0 auto;
}


.secondary {
  color: #3EBFD0;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.1s;
  cursor: pointer;
  background-color: #EBFBFD;
  border-radius: 60px;
  margin-top: 60px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.secondary:hover {
  background-color: #DAF7FB;
  color:#3EBFD0;
}

.other_projects{
  text-align: center;
  margin:0 auto;
}
